.pictures {
  display: inline-block;
  width: 400px;
  height: 400px;
  line-height: 200px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  -webkit-transition: background-color 0.3s, color 0.3s, border 0.3s;
  transition: background-color 0.3s, color 0.3s, border 0.3s;
  background-color: #3498db;
  color: #ffffff;
  border: 10px solid #ffcd00;
  margin: 10px;
  /* Set the background image size to cover and center it */
  background-size: 75%;
  background-position: center center;
  background-repeat: no-repeat;
}

/* Hover State */
.pictures:hover {
  background-color: #ffcd00;
  color: #ffffff;
  border: 10px solid #3498db;
}

/* Additional Hover Effects */
.pictures:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  opacity: 0.9;
}

/* Active State */
.pictures:active {
  border: 10px solid #ffcd00;
}