.index {
  font-family: Arial, sans-serif;
  font-size: x-large;
  color: #ffcd00;
  font-weight: bold;
}

h1 {
  font-family: Arial, sans-serif;
  font-size: 50px;
  color: #ffcd00;
  font-weight: bold;
}