.group1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
  }
  
  .picture-container,
  .sound-container {
    margin-bottom: 10px; /* Adjust margin as needed for spacing between picture and sound containers */
  }
  
  